version: "3.9"

services:
  backend-spring:
    build:
      context: /media/backup/server/GM2/backend
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - db
    restart: always
    links:
      - db:db
    volumes:
      - ./backend/documents:/app/documents
      - ./backend/firma_soporte:/app/firma_soporte
      - ./backend/firmas/:/app/firmas
      - ./backend/images:/app/images
      - ./backend/uploads:/app/uploads
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: GM2
      DB_USERNAME: root
      DB_PASSWORD: widowmaker
      NEXT_FRONTEND_URL: https://gm2.equibiomedic.co
      CORS_ALLOWED_ORIGIN: https://gm2.equibiomedic.co,https://www.equibiomedic.co
    networks:
      - kafka-net
      - mired
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`api.equibiomedic.co`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=le"
      - "traefik.http.services.api.loadbalancer.server.port=8080"

  gm2:
    container_name: gm2_app
    build:
      context: /media/backup/server/GM2/frontend
      dockerfile: Dockerfile
      args:
      - NEXT_PUBLIC_API_URL=https://api.equibiomedic.co
      - NEXT_FRONTEND_URL=https://gm2.equibiomedic.co
    ports:
      - "3000:3000"
    restart: always
    networks:
      - mired
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gm2.rule=Host(`gm2.equibiomedic.co`)"
      - "traefik.http.routers.gm2.entrypoints=websecure"
      - "traefik.http.routers.gm2.tls.certresolver=le"
      - "traefik.http.services.gm2.loadbalancer.server.port=3000"

networks:
  kafka-net:
    external: true
    name: gm2_kafka-net
  mired:
    external: true
    name: gm2_mired
