name: Deploy GM2 Prod

on:
  push:
    branches:
      - main

jobs:
  deploy-prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH private key to agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSHKEY }}

      - name: Add GitHub to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Deploy PROD to server
        run: |
          ssh -o StrictHostKeyChecking=no -p 5434 server@181.205.220.123 << 'EOF'
            cd /media/backup/server/GM2/ || exit 1
            git switch main
            git pull

            # Solo tocar el stack de PRODUCCIÓN
            echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S docker-compose -f docker-compose.prod.yml down
            echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S docker-compose -f docker-compose.prod.yml up -d --build
            echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S docker system prune -f
          EOF

      - name: Send notification email (prod)
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: mail.tornillosprotor.com
          server_port: 465
          username: pruebas@tornillosprotor.com
          password: Elian2020#
          subject: "Deploy GM2 - PROD"
          to: egbmaster2007@gmail.com
          from: pruebas@tornillosprotor.com
          body: "¡Se ha desplegado la actualización de PRODUCCIÓN de GM2 correctamente!"
          secure: true
